<!doctype html>
<html>
  <body>
    <p>Hello,</p>
    <p>Your document is ready. You can download it from the link below:</p>
    <p><a href="{{pdfUrl}}">Download PDF</a></p>
    <p>Regards,<br/>Assessment Service</p>
  </body>
</html>
